@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400;500&display=swap");

body {
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* ======================== Header ============================ */
.header {
  width: 100%;
}

.header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  padding: 15px 45px 15px 45px;
}

.currency-select{
  background-color: black;
  color: #fff;
  font-size: 9pt;
  font-weight: 200;
  border: 0px;
}

.text-style-white{
  color: #fff;
  font-size: 9pt;
  font-weight: 400;
}


/* ======================== Navbar ============================ */
.navbar {
  width: 100%;
}

.navbar-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: black;
  justify-content: space-between;
  padding: 15px 45px 15px 45px;
}

.title{
  width: 240px;
}

.icon-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon-wrapper img {
  max-width: 25px;
  margin: 0px 15px 0px 15px;
}

.social-navbar{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
}

.social-navbar img{
  max-width: 25px;
  margin: 0px 15px 0px 15px;
}


/* ======================== Manu ============================ */

.menu{

}

.menu ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.menu li:not(:last-child) {
  margin-right: 20px;
}

.menu a {
  display: block;
  font-size: 8pt;
  color: black;
  text-decoration: none;
  padding: 10px 10px;
  font-weight: 1000;
}

.menu a:hover {
  border-bottom: 4px solid black;
  z-index: -1;
  cursor: pointer;
}

.menu a{
  transition: all .15s ease-in-out;
}


/* ======================== CATEGORIES ============================= */
.category{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 45px 15px 45px;
  margin-top: 30px;
}

.category-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}

.category-item {
  position: relative;
  overflow: hidden;
  max-width: 380px;
  z-index: 1;
}

.category-item img{
  display: block;
  width: 100%;
  transition: all 1.8s;
}

.category-item:hover img{
  -webkit-transform:scale(1.4);
  cursor: pointer
}

/* ======================== FOOTER ============================= */

.footer {
  width: 100%;
}

.footer-content{
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  padding: 15px 45px 15px 45px;
}

.footer-box{
  max-width: 300px;
  padding: 15px;
}

.footer-title{
  color: #fff;
  font-size: 12pt;
  font-weight: 400;
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

.footer-text-style{
  color: #fff;
  font-size: 12pt;
  font-weight: 400;
}

.footer-box ul{
  list-style:none;
    padding:10px;
    margin:0;
}

.footer-box ul li{
  padding: 4px 0px;
}


/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */ 
